$font-stack: Helvetica, sans-serif;
$primary-color: #333;

#links a {
  color: $primary-color;
  background-color: grey;
  padding: 10px;
  margin-right: 10px;
}

.home-links a {
  color: $primary-color;
  background-color: yellow;
  padding: 5px;
  margin: 10px;
}

#image {

  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;

  img {
    width: 100%;
    height: auto;
  }
  p {
    font: 100% $font-stack;
    color: $primary-color;
  }
}

%shared-styling {
  border: 1px solid black;
  border-style: dotted;
  width: 500px;
}

#table tr, th, td {
  @extend %shared-styling;
    font: $font-stack;
}

#table p {
  @extend %shared-styling;
  background-color: black;
  color: white;
  display: inline-block;
}

.container {
  background: grey;
  border: 1px solid black;
}

.col-sm {
  border: 1px solid black;
  color: $primary-color;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    background-color: green;
    font-size: 25px;
  }
}
